
@font-face { 
    font-family: "raleway" ; 
    src: url("fonts/static/raleway-regular.ttf");
}



.container
{ 
    max-width: 1200px;
    margin: auto;
}

a
{
    text-decoration: none;
    color: grey; 
}

p
{
    margin-left: 10px;
    font-family: "Raleway";
}

.far
{
    color:#F2F2F2;
}


body
    { 
        font-family: "Raleway";
        
    }
h1 
    {
        font-family: "Raleway" ;
        font-size: 24px;
    }

h2 
    {
        font-size: 16px;
        display: flex ;
        color: black;
    }

h3
{
    font-size: 19px;
}



/* Header */
.EnTete
    {
        height: 100px;
        width: 100%;
        display: grid;
        grid-template-rows: 100px;
        font-weight: bold; 
        justify-content: space-between;
        color: #0065FC;
        grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
    }

.Maison
    {
        
        color: #0065FC;
        grid-column: 3;
        margin-right: 50px;
        padding-top: 20px;
    }
   
.Act
    {
        
        color: #0065FC;
        grid-column: 4;
        padding-top: 20px;
        width: 46%;
    }

.Ins
    {
        
        color: #0065FC;
        grid-column: 5;
        padding-top: 20px;
        width: 50%;
    }

.Ins:hover
    {
        border-top: 3px #0065FC solid ;
        
    }

    .Maison:hover
    {
        border-top: 3px #0065FC solid ;
    }

    .Act:hover
    {
        border-top: 3px #0065FC solid ;
    }


/* Section titre */
.titre
    {
        margin-top: 30px;
        
    }   


/* Section recherche */
.BlockRecherche
    {
        margin-top: 30px;
        display: flex;
        border: 1px #F2F2F2 solid;
        border-top-left-radius: 20px ;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 39%;
    }
.IconeRecherche
    {
        background-color: #F2F2F2;
        padding: 12px 12px;
        text-align: center;
        border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        width: 10%;    
    }
    
.RechercheEntrer

    {
 
        border: none;
        padding-left: 15px; 
        padding-top: 5px;
        width: 60%;
        height: 47px;
        font-weight: 600;
        font-size: 16px;        
    }

.RechercheEntrer::placeholder
    {
        color: black;
    }


.RechercheBouton
    {
        background-color: #0065FC;
        color: white;
        cursor: pointer;
        border: none;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px;    
        align-items: center;
        font-family: "Raleway";
        font-weight: 600;
        font-size: 16px;
        width: 25%;
        height: 47px;
    }

    .IconeBoutonRecherche
    {   
        background-color: #0065FC;
        cursor: pointer;
        border: none;
        border-top-right-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px; 
        align-items: center;
        font-size: 16px;
        width: 60px;
        height: 47px;
        border-radius: 10px;
        display:none;
    }

/* Section Filtre */

.Filtres
{    
    height: 120px;
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
    font-weight: 600;
    font-size: 16px;   
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 0px;
}

.TitreFiltre
{
    font-size: 19px;
}


.Economie
{
    display: flex;
    align-items: center;
    border: 2px #F2F2F2 solid;    
    border-top-left-radius: 60px ;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    
}



.FiltreTexte
{
    font-weight: 600;
    font-size: 16px;
    margin-left: 15px;    
    margin-right: 15px;
}


.familial
{
    display: flex;
    align-items: center;
    border: 2px #F2F2F2 solid;    
    border-top-left-radius: 60px ;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    
}

.Economie:hover
{
    background-color: #DEEBFF;
}


.familial:hover
{
    background-color: #DEEBFF;
}

.romantique:hover
{
    background-color: #DEEBFF;
}

.animaux:hover
{
    background-color: #DEEBFF;
}



.romantique
{
    display: flex;
    align-items: center;
    border: 2px #F2F2F2 solid;    
    border-top-left-radius: 60px ;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    
}


.animaux
{
    display: flex;
    align-items: center;
    border: 2px #F2F2F2 solid;    
    border-top-left-radius: 60px ;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    
}

.FiltreIcone
{
    display: flex;
    color: #0065FC;
    border: none;
    background-color: #DEEBFF;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px ;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px ;
    width: 50px;
    height: 50px;
}



.FooterFiltre
{
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.iconeFooter
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: solid  #F2F2F2;
    border-top-right-radius: 50px ;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px ;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.footerTexte
{ 
    margin-left: 15px;
}

/* Section Hebergement et Populaire */

.etoile
{
    color: #0065FC;
    padding-top: 5px;
    font-size: 10px;
    padding-left: 15px;
}

.BlockPrincipal
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    height: 700px;
    
}

.BlockGauche
{
    order: 1;
    flex-wrap: wrap;
    border: #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 20px 20px;
    width: 67%;
    height: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 250px 250px 50px ;
    grid-gap: 10px;
    grid-column-gap: 5px;
    
}

.TitreHebergement
{
    
    width: 50%;
    margin-left: 20px;
    grid-column: 1/3 span;  
    padding-top: 15px;
}

.CarteHebergement
{
    border: 4px white solid;
    background-color:white;
    border-radius: 20px 20px;
    height: 220px;
    width: 84%;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 1px 1px 12px#BFBFBF;
    

    
}



.imageHebergement
{
    flex-wrap: wrap;
    order: 2;
    justify-self: center;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    grid-column: 1; 
    width: 100%;
    height: 140px;  
}

.TitreImage
{
    padding-left: 15px;
}

.imageText
{
    font-size: 12px;
    padding-left: 15px;
}

.footerHebergement
{
    order: 8;
    width: 400px;
    margin-left: 20px;
    grid-column: 1/3 span ;   
    padding-top: 40px;
}

.BlockDroit
{
    order: 2;
    border: #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 20px 20px;
    width: 30%;
    height: 680px;
}

.TitreHebergementDroit
{
    margin-left: 20px;
    display: flex;
    padding-top: 15px;
}

.IconeLienPop
{
    display: flex;
    justify-self: center;
    margin-top: 20px;
    padding-left: 33%;
}

.CarteDroit
{
    display: flex;
    grid-gap: 35px;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 20px;
    
}

.CartePopulaire
{
    justify-self: center;
    border-radius: 20px 20px;
    border: 4px white solid;
    background-color: white;
    width: 90%;
    height: 150px;
    box-shadow: 1px 1px 12px#BFBFBF;
}
.TitreImageDroit
{ 
    grid-column: 3;
    padding-left: 15px;
    display: flex;
}   

.ImageTextDroit
{  
    font-size: 12px;
    margin-left: 10px;
    padding-left: 15px;
    display: grid;
    grid-column: 2;   
    display: flex;
    padding-bottom: 50px;
}

.ImagePopulaire
{
    float: left;
    flex-wrap: wrap;
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.EtoileDroit
{
    color: #0065FC;
    font-size: 10px;
    width: 100px;
    height: 20px;
    padding-left: 15px;
    display: flex;
    
    
}

/* Section Activiter */

.TitreSection
{
    margin-top: 50px;
    margin-left: 25px;
}

.Activites
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.VieuxPort
{
    flex-wrap: wrap;
    justify-self: center;
    border-radius: 20px;
    border: 2px white solid;
    background-color: white;
    width: 100%;
    height: 480px;
    order: 1;
    box-shadow: 1px 1px 12px #F2F2F2;
}
.ImageLongue
{
    
    border-radius:20px 20px 0px 0px;
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.ImageMoyenne
{
    border-radius:20px 20px 0px 0px;
    width: 100%;
    height: 180px;
    column-gap: 20px;
    object-fit: cover;
}

.ImageEtroite
{
    border-radius:20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    column-gap: 20px;
    object-fit: cover;
}

.ImageTresEtroite
{
    border-radius:20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    column-gap: 20px;
    object-fit: cover;
}

.FortDePomegues
{
    order: 2;
    flex-wrap: wrap;
    justify-self: center;
    border-radius: 20px 20px;
    border: 2px white solid;
    background-color: white;
    width: 100%;
    height: 235px;
    box-shadow: 1px 1px 12px#F2F2F2;
}

.IlesDeFriou
{
    order: 3;
    grid-row: 2;
    grid-column: 2;
    flex-wrap: wrap;
    justify-self: center;
    border-radius: 20px 20px;
    border: 2px white solid;
    background-color: white;
    width: 100%;
    height: 210px;
    box-shadow: 1px 1px 12px #F2F2F2;
    
}

.ParcNational
{
    order: 4;
    flex-wrap: wrap;
    justify-self: center;
    border-radius: 20px 20px;
    border: 2px white solid;
    background-color: white;
    width: 100%;
    height: 480px;
    box-shadow: 1px 1px 12px#F2F2F2;
}

.NotreDame
{
    order: 5;
    flex-wrap: wrap;
    justify-self: center;
    border-radius: 20px 20px;
    border: 2px white solid;
    background-color: white;
    width: 100%;
    height: 220px;
    box-shadow: 1px 1px 12px#F2F2F2;
}

.ParcLongchamp
{
    order: 6;
    flex-wrap: wrap;
    justify-self: center;
    border-radius: 20px 20px;
    border: 2px white solid;
    background-color: white;
    width: 100%;
    height: 210px;
    grid-row: 2;
    grid-column: 4;
    box-shadow: 1px 1px 12px #F2F2F2;
}

.TitreImageActivites
{
    margin-left: 20px;
    
    
}

/* Footer */

.PiedDePage
{
    border: 6px #F2F2F2 solid;
    background-color: #F2F2F2;
    margin: 0;
    width: 100%;
}

.MenuPiedDePage
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    color: black;  
    
   
}

    
ul
{
    list-style-type: none;
    padding: 0;
    
        
}

li
{
    margin-bottom: 10px;
}

@media screen and (max-width: 768px)

{
    
    

    .container
    {
        max-width: 96%;
    }

    body
    { 
        font-family: "Raleway";
        margin: 0px;
        box-sizing: border-box;
        
        
    }
  
    h1 
    {
        font-family: "Raleway" ;
        font-size: 24px;
        margin-left: 10px;
        width: 80%;
       
    }

    h2 
    {
        font-size: 14px;
        display: grid ;
    }

    /* Header */

    .Header
    {
        width: 100%;
    }

    .EnTete
    {
        height: 240px;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows:  150px 150px; 
        font-weight: bold;
        flex-wrap: wrap; 
        color: #0065FC;
        margin-left: 10px;    
    }

    .Maison
    { 
        color: #0065FC;
        margin-left: 0px;
        display: grid;
        grid-column: 1;
        grid-row: 2;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 0px;
        width: 60%;
        height: 50px;
        
    }

    .Act
    {  
        color: #0065FC;
        justify-content: center;
        display: grid;
        grid-row: 2;
        grid-column: 2;
        padding-bottom: 20px;
        padding-top: 0px;
        width: 60%;
        height: 50px;
        
    }
    .Ins
    {   
        color: #0065FC;
        justify-content: center;
        display: grid;
        grid-row: 1;
        grid-column: 2;
        width: 60%;
        padding-left: 50px;
    }

    .Ins:hover
    {
        border-top: 3px #0065FC solid ;    
    }

    .Maison:hover
    {
        border-bottom: 3px #0065FC solid ;
        border-top: none;
    }

    .Act:hover
    {
        border-bottom: 3px #0065FC solid ;
        border-top: none;
    }

    /* Section titre */

    .titre
    {
        margin-top: 30px;
        margin-left: 10px;
        width: 80%;
    }   

        /* Section recherche */

    .BlockRecherche
    {
        margin-top: 30px;
        margin-left: 10px;
        display: flex;
        border: 1px #F2F2F2 solid;
        border-top-left-radius: 20px ;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 80%;
    }
    .IconeRecherche
    {
        background-color: #F2F2F2;
        padding: 12px 12px;
        text-align: center;
        border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        width: 35px;
    }
    .RechercheEntrer::placeholder
    {
    color: black;
    }



    .RechercheEntrer

    {

        border: none;
        padding-left: 15px; 
        padding-top: 5px;
        width: 80%;
        height: 40px;
        font-weight: 600;
        font-size: 16px;
    }


    .RechercheBouton
    {
        background-color: #0065FC;
        color:white;
        cursor: pointer;
        border: none;
        border-top-right-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        display: flex;
        width: 25%;
        height: 47px;
        font-family: "Raleway";
    }



    
    /* Section Filtre */

    .Filtres

    {  
        border: none;
        height: 200px;
        width: 80%;
        font-weight: 600;
        font-size: 16px;   
        margin-left: 10px; 
    }

    

    .TitreFiltre
    {
        width: 100%;
        flex-wrap: wrap;
    }

    .Economie
    {
        width: 45%;
      
    }


    .familial
    { 
        width: 45%;
    }
 
    .romantique
    {
        
        width: 45%;
    }

    .animaux
    {
        
        width: 45%;
    }


    .FooterFiltre
    {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        height: 60px;
        align-items: center;
    }

    .iconeFooter
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #0065FC;
        border: solid  #F2F2F2;
        border-top-right-radius: 50px ;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px ;
        border-bottom-left-radius: 50px ;
        width: 25px;
        height: 25px;
    }

    .footerTexte
    {
        margin-left: 15px; 
    }
        
    /*block gauche hebergement */


    .BlockPrincipal
    {
        display: grid;
        flex-wrap: wrap;
        grid-gap: 30px;
        grid-template-columns: 100% ;
        height: 2550px;
        width: 100%;
        padding-bottom: 100px;
    }


    .BlockGauche
    {
        order: 2;
        border: none;
        width: 98%;
        height: 2000px;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .TitreHebergement
    {
       width: 100%;
       height: 50px;
    }
    
    .CarteHebergement
    {
        flex-wrap: wrap;
        box-shadow: 1px 1px 12px#F2F2F2;
        grid-column: 1;
        width: 96%;
        justify-self: center;
        height: 250px;
        margin-left: 10px;
    }
  
    .imageHebergement
    {
        flex-wrap: wrap;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

    .TitreImage
    {
        padding-left: 15px;
        font-size: 19px;
    }

    .imageText
    {
        font-size: 16px;
        padding-left: 15px;
        color: black;
    }

    
    
    .footerHebergement
    {
        order: 8;
        width: 100%;
        margin-left: 10px;
    }

        /*BlockDroit*/

    .BlockDroit
    {
        order: 1;
        background-color: #F2F2F2;
        border-color: whitesmoke;
        border-radius: 0px;
        width: 100%;
        height: 720px;
        display: flex;
        flex-direction: column;
    }

    .TitreImageDroit
    {
        font-size: 19px;
    }

    .ImageTextDroit
    {
        font-size: 16px;
        color: black;
        padding-bottom: 10px;
    }
    
    .IconeLienPop
    {
        padding-left: 70%;
    }
    
    .CarteDroit
    {
        display: flex;
        grid-gap: 20px;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        padding-left: 0px;
    }

    .CartePopulaire
    {
        justify-self: center;
        border-radius: 20px 20px;
        border: 4px white solid;
        background-color: white;
        width: 100%;
        height: 180px;
    }

    .ImagePopulaire
    {
        width: 60%;
        height: 100%;
    }
    


    /*Acitivite*/


    .TitreSection
    {
        margin-top: 30px;
        margin-left: 10px;
    }

    .Activites
    {
        
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 50px;
    }

    .VieuxPort
    {
        flex-wrap: wrap;
        justify-self: center;
        border-radius: 20px;
        border: 1px white solid;
        width: 96%;
        height: 230px;
        order: 1;
        box-shadow: 1px 1px 12px #F2F2F2;
    }
    .ImageLongue
    {
        border-radius:20px 20px 0px 0px;
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    .ImageMoyenne
    {
        border-radius:20px 20px 0px 0px;
        width: 100%;
        height: 160px;
        column-gap: 20px;
        object-fit: cover;
    }

    .ImageEtroite
    {
        border-radius:20px 20px 0px 0px;
        width: 100%;
        height: 160px;
        column-gap: 20px;
        object-fit: cover;
    }

    .ImageTresEtroite
    {
        border-radius:20px 20px 0px 0px;
        width: 100%;
        height: 160px;
        column-gap: 20px;
        object-fit: cover;
    }

    .FortDePomegues
    {
        order: 2;
        flex-wrap: wrap;
        justify-self: center;
        border-radius: 20px 20px;
        border: 1px white solid;
        width: 96%;
        height: 230px;
        box-shadow: 1px 1px 12px#F2F2F2;
    }

    .IlesDeFriou
    {
        order: 3;
        grid-row: 2;
        grid-column: 2;
        flex-wrap: wrap;
        justify-self: center;
        border-radius: 20px 20px;
        border: 1px white solid;
        width: 96%;
        height: 230px;
        box-shadow: 1px 1px 12px #F2F2F2;
        margin-top: 20px;
        
    }

    .ParcNational
    {
        order: 4;
        flex-wrap: wrap;
        justify-self: center;
        border-radius: 20px 20px;
        border: 1px white solid;
        width: 96%;
        height: 230px;
        box-shadow: 1px 1px 12px#F2F2F2;
    }

    .NotreDame
    {
        order: 5;
        flex-wrap: wrap;
        justify-self: center;
        border-radius: 20px 20px;
        border: 1px white solid;
        width: 96%;
        height: 230px;
        box-shadow: 1px 1px 12px#F2F2F2;
    }

    .ParcLongchamp
    {
        order: 6;
        flex-wrap: wrap;
        justify-self: center;
        border-radius: 20px 20px;
        border: 1px white solid;
        width: 96%;
        height: 230px;
        box-shadow: 1px 1px 12px #F2F2F2;
    }

    .TitreImageActivites
    {
        margin-left: 20px;
        font-size: 19px;
    }

    /* Footer */

    .PiedDePage
    {
        background-color: #F2F2F2;
        border: whitesmoke; 
    }

    .MenuPiedDePage
    {
        display: grid;
        grid-template-rows: 180px;
        flex-wrap: wrap;
        color:black;  
    }

        
    ul
    {
        list-style-type: none;
        padding: 0;        
    }

    li
    {
        margin-bottom: 10px;
    }

    .APropos
    {
        margin-left: 10px; 
    }

    .Assistance
    {
        margin-left: 10px;
        
    }

    .NosHerbergements
    {
        margin-left: 10px; 
    }

}

@media screen and (max-width: 480px)
{
    

    body
    { 
        font-family: "Raleway";
        margin:0px;
        max-width: 100%;
        box-sizing: border-box;
    }

    .container
    {
        max-width: 96%;
    }

    h3
    {
        max-width: 80%;
    }

    /* Header */

    .Header
    {
        width: 100%;
    }


    .EnTete
    {
        width: 90%;
        height: 200px;
        margin-left: 15px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows:  120px 120px;
       
    }

    .Maison
    {
        width: 60%;
        margin-left: 10%;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .Act
    {
        width: 50%;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .Ins
    { 
        width: 50%;
        grid-column: 2;
        grid-row: 1;
    }

    .titre
    {
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
    }
    h1 
    {
        font-family: "Raleway" ;
        font-size: 24px;
        width: 95%;
    }
    
    /*block recherche et filtre */
    
    .BlockRecherche
    {  
        width: 80%;
        margin-left: 15px;
    }

    .RechercheEntrer

    {
        height: 40px;
        font-weight: 600;
        font-size: 16px;
    }

    .RechercheBouton
    {
        display: none;
    }


    .IconeBoutonRecherche
    {
        justify-content: center;
        width: 20%;
        height: 47px;
        border-radius: 10px;
        display:flex  
    }
    

    .TexteBoutonRecherche
    {
        display: none;
    }

    .Filtres

    {
     height: 250px;
     width: 100%;
     margin-left: 10px;
    }

    .TitreFiltre
    {
        width: 100%;

    }

    .Economie
    {    
        width: 50%;

    }

    .familial
    {
        width: 46%;
    }

    .romantique
    {
        width: 60%;
    }

    .animaux
    {
        width: 75%;
    }


    .FooterFiltre
    {
        width: 100%;

    }

    .FooterFiltre
    {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    margin-bottom: 20px;
    }

    .iconeFooter
    {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    margin-left: 15px;
    }

    .footerTexte
    {
    margin-left: 15px;
    width: 75%;
    }

    /* block droit */

    .BlockDroit
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .TitreHebergementDroit
    {
        display: flex;
    }

    .IconeLienPop
    {
        display: flex;
        justify-self: center;
        margin-top: 20px;
        padding-left: 35%;
    }

    .CarteDroit
    {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
        width: 100%;
        padding-left: 0px;
    }

    .CartePopulaire
    {
        justify-self: center;
        border-radius: 20px 20px;
        border: 4px white solid;
        background-color: white;
        height: 180px;
        width: 95%;
    }

    .ImagePopulaire
    {
        height: 100%;
        width: 45%;
    }

    

    /*bloc gauche*/

    .BlockPrincipal
    {
        width: 100%;
        padding-bottom: 90px;
    }


    .BlockGauche
    {
        width: 100%;
        height: 2000px;
        grid-template-columns: 100%;
    }

    .titretext
    {
        width: 100%;
    }

    .TitreHebergement
    {
       width: 100%;
    }

    .CarteHebergement
    {
        width: 96%;
        margin-left: 0px;
        margin-right: 0px;
    }
    

    .imageHebergement
    {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }


  
    .footerHebergement
    {
        width: 98%;
        padding-bottom: 50px;
    }

    /*Acitivite*/

    .BlockDroit
    {
        width: 100%;
    }

    .TitreSection
    {
        margin-top: 30px;
        margin-left: 10px;

    }

    .Activites
    { 
        width: 90%;
        grid-template-columns: 100%; 
    }

    .VieuxPort
    {
        width: 96%;
    }
    .ImageLongue
    {
        width: 100%;
    }

    .ImageMoyenne
    {
        width: 100%;
    }

    .ImageEtroite
    {
        width: 100%;
    }

    .ImageTresEtroite
    {
        width: 100%;
    }

    .FortDePomegues
    {
        width: 100%;
    }

    .IlesDeFriou
    {
        width: 100%;
    }

    .ParcNational
    {
        width: 100%;
    }

    .NotreDame
    {
        width: 100%;
    }

    .ParcLongchamp
    {
        width: 100%;
    }

    .TitreImageActivites
    {
        margin-left: 20px;
        font-size: 19px;
    }

    /* Footer */

    .PiedDePage
    {
        width: 100%;  
        
    }

    .MenuPiedDePage
    {
        display: flex;
        flex-direction: column;
    }

}

